@media screen and (orientation: landscape) {
  .about-header {
    margin-top: 3.229vw;
    margin-bottom: 4.27vw;
  }

  #boxman {
    position: absolute;
    top: 4.791vw;
    right: 1.718vw;

    img:first-child {
      height: 22.395vw;
      width: 13.958vw;
    }

    img:last-child {
      position: absolute;
      width: 14.687vw;
      height: 4.427vw;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .about-body {
    .img-field {
      width: 3.125vw;
      display: grid;
      grid-area: img;
    }

    .text-info {
      display: grid;
      grid-area: text;
    }

    p {
      font-family: "circe-regular";
      color: white;
      font-size: 0.833vw;

      .header-column {
        font-family: "furore";
        font-size: 1.041vw;
      }

      .highlight {
        color: $highlight;
      }

      .headerlight {
        color: $header;
      }
    }

    #full-info {
      display: grid;
      grid-template-areas: "img text";
      grid-template-columns: 5.208vw 24.739vw;
      margin-bottom: 1.458vw;
    }

    #short-info {
      display: grid;
      grid-template-areas:  "calendar place"
                            "participation num";
      grid-template-columns:  20.364vw 20.364vw;
      grid-row-gap: 1.302vw;

      img {
        grid-area: img;
      }

      .short-info-cell {
        grid-area: text;
        align-self: center;
      }

      .cell-info {
        grid-template-areas: "img text";
        grid-template-columns: 5.208vw 15.364vw;
      }

      #calendar {
        display: grid;
        grid-area: calendar;
      }

      #place {
        display: grid;
        grid-area: place;
      }

      #participation {
        display: grid;
        grid-area: participation;
      }

      #num {
        display: grid;
        grid-area: num;
      }
    }
  }
}