@media screen and (orientation: landscape) {
  #category {
    margin-top: -3.2vw;
  }

  #category-info {
    display: grid;
    grid-template-areas: "mobile web data";
    .category {
      display: grid;
      grid-template-areas: "img text";
      grid-column-gap: 0.937vw;

      .header-column {
        font-family: "furore";
        font-size: 1.041vw;
      }

      .highlight {
        color: $highlight;
      }

      .category-text {
        display: grid;
        grid-area: text;
      }

      p {
        font-family: "circe-regular";
        font-size: 0.833vw;
        color: $main;
      }

      img {
        width: 3.125vw;
        height: auto;
        display: grid;
        grid-area: img;
      }

      #mobile {
        display: grid;
        grid-area: mobile;
      }

      #web {
        display: grid;
        grid-area: web;
      }

      #data {
        display: grid;
        grid-area: data;
      }
    }
  }
}