@media screen and (orientation: portrait) {
  .highlight {
    color: $highlight;
  }

  .headerlight {
    color: $header;
  }

  #Chance {
    position: relative;
    z-index: 1;
    margin-top: -50vw;
    text-align: center;

    #people {
      height: 143.888vw;
      background: url("../assets/chance-mobile.png") round;
      background-size: 100vw;
      border-bottom: 0.2vw solid $header;

      display: grid;
      align-items: center;
      padding-bottom: 12.777vw;
    }

    p {
      font-family: "furore";
      font-size: 4.444vw;
      color: white;
      text-align: center;
      padding-top: 7.5vw;
      margin-bottom: 7.222vw;
    }
  }
}