@media screen and (orientation: landscape) {
  .highlight {
    color: $highlight;
  }

  .headerlight {
    color: $header;
  }

  #register {
    text-decoration: none;
    color: black;
    font-family: "circe-bold";
    font-size: 0.833vw;
    padding: 0.67vw 4.9vw 0.67vw 4.9vw;
    background-color: $highlight;
    box-shadow: 0 0 15px rgba(251, 171, 24, 0.54);
  }

  #Chance {
    position: relative;
    z-index: 1;
    margin-top: -7.5vw;
    text-align: center;

    #people {
      height: 31.25vw;
      background: url("./assets/chance.png");
      background-repeat: round;
      border-bottom: 3px solid $header;

      display: grid;
      align-items: center;
    }

    p {
      font-family: "furore";
      font-size: 1.562vw;
      color: white;
      text-align: center;
      padding-top: 7.5vw;
      margin-bottom: 2.239vw;
    }
  }
}