.poly {
  -moz-transform: scale(1,-1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

@media screen and (orientation: portrait){
  #divider_1 {
    margin-top: 8.611vw;
    transform: translateX(34.722vw) scale(5,3);
    max-width: 21.7vw;
  }
}

@media screen and (orientation: landscape){
  #divider_1 {
    margin-top: 6.510vw;
  }
}
