@font-face {
  font-family: "circe-regular";
  src: url("./fonts/CIRCE-REGULAR.ttf") format('truetype');
}

@font-face {
  font-family: "circe-extrabold";
  src: url("./fonts/CIRCE-EXTRABOLD.ttf") format('truetype');
}

@font-face {
  font-family: "circe-bold";
  src: url("./fonts/CIRCE-BOLD.ttf") format('truetype');
}