@media screen and (orientation: landscape) {
  .header {
    .header-background {
      background: url("./assets/header.svg");
      background-size: 100vw;
      height: 36.6vw;
    }

    .logo {
      position: absolute;
      top: 1.57vw;
      width: 14.5vw;
      height: 2.74vw;
      background-repeat: no-repeat;
     }

    p {
      text-align: center;
      color: white;
    }

    .header-info {
      text-align: center;
      padding-top: 8.333vw;

      p:nth-child(1) {
        font-family: "circe-light";
        font-size: 1.23vw;
        margin-bottom: 1.666vw;
      }

      p:nth-child(2) {
        font-family: "furore";
        font-size: 2.32vw;
        margin-bottom: 3.385vw;
      }

      p:nth-child(3) {
        font-family: "furore";
        font-size: 1.04vw;
        margin-bottom: 1.666vw;
      }

      .header-text {
        color: $header;
      }

      .highlight-text {
        color: $highlight;
      }

      div {
        text-align: center;
        margin-bottom: 1.666vw;
      }

      .timer-block {
        width: 7.3vw;
        height: 4.7vw;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.75);

        p:first-child {
          margin-top: 0.26vw;
        }

        .digit {
          font-family: "furore";
          font-size: 2.3vw;
          color: $header;
          margin: 0;
        }

        .word {
          font-family: "circe-regular";
          font-size: 0.81vw;
          color: black;
        }
      }

      .timer-block:not(:first-child) {
        margin-left: 3.91vw;
      }

      #register {
        text-decoration: none;
        color: black;
        font-family: "circe-bold";
        font-size: 0.833vw;
        padding: 0.67vw 4.9vw 0.67vw 4.9vw;
        background-color: $highlight;
        box-shadow: 0 0 15px rgba(251, 171, 24, 0.54);
      }
    }
  }
}