@media screen and (orientation: portrait) {
  #organizers {
    margin-bottom: 27vw; //5vw

    .about-header {
      margin-top: 3.6vw;
      margin-bottom: 3.5vw;
    }

    #organizers-text-mobile p {
      font-family: "circe-light";
      font-size: 4.444vw;
      text-align: left;
      margin-left: 4.444vw;
      margin-right: 4.444vw;
      line-height: 6.3vw;

      .headerlight {
        font-family: "circe-bold";
        color: $header;
      }

      .highlight {
        font-family: "circe-extrabold";
        color: $highlight;
      }
    }

    #organizers-text-mobile p:not(:last-child) {
      margin-bottom: 5.555vw;
    }

    .left-wrapper{
      width: 79.795vw;
      position: relative;
    }

    #organizers-info {
      div:last-child {
        display: none;

        .wrapper-mobile {
          width: 91.111vw;
          margin: 0 auto;
          position: relative;
        }
      }

      div:last-child p {
        font-family: "circe-light";
        font-size: 4.444vw;
        color: $main;
        text-align: left;
      }

      div:last-child p:not(:last-child) {
        margin-bottom: 5.555vw;
      }

      #shadow-img {
        display: inline-block;
        position: relative;
        width: 93vw;
        height: 61.1vw;
        background: #FBAB18;
        box-sizing: border-box;
        -webkit-clip-path: polygon(0 0, 93% 10%, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 93% 10%, 100% 90%, 0 100%);
      }

      #shadow-img img {
        position: absolute;
        top: 2px;
        left: 0;
        width: 92.5vw;
        height: 60vw;
        -webkit-clip-path: polygon(0 0, 93% 10%, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 93% 10%, 100% 90%, 0 100%);
      }

      #best-logo-big {
        width: 93.555vw;
        height: auto;
        position: absolute;
        right: -16.9vw;
        bottom: -104.2vw;
      }
    }
  }
}